.api-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 7, 15, 0.229);
  padding-bottom: 0%;
}

.title-area {
  margin-top: 30px;
  margin-bottom: 10px;
}

.gap {
  padding: 5px 10px;
  max-width: 1100px;
}

.content {
  color: cadetblue;
  font-weight: 100;
  font-size: 15px;
}

.left-align {
  text-align: left;
}

.url-row {
  display: flex;
  flex-direction: row;
}

.api-title {
  color: #ffffffd6;
  font-size: 30px;
  font-weight: 800;
  align-self: flex-start;
  margin-bottom: 20px;
}

.api-label {
  color: rgb(190, 190, 190);
}

.urls-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  flex-wrap: wrap;
}

.url-container {
  padding: 5px 10px;
  word-wrap: break-word;
  background-color: #131313;
  margin: 0px 5px;
  border-radius: 10px;
  border: 2px solid rgba(45, 45, 45, 0.471);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
}

.url-container:hover {
  background-color: #181818;
}

.url-container:active {
  background-color: #2e2e2e;
  border-color: rgba(211, 211, 211, 0.273);
}

.api-url {
  color: #735ebf;
  font-weight: 100;
}

.languages-container {
  display: flex;
  flex-direction: row;
}

.description-content {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.param-description {
  min-width: 350px;
}

.language {
  border-bottom: 1px solid transparent;
  padding: 10px;
  background-color: #0F1318;
  font-weight: 800;
  font-size: 15px;
  border-bottom: 2px solid rgba(211, 211, 211, 0.075);
  border-radius: 0px;
}

.language:hover {
  background-color: #181d24;
}

.language:active {
  background-color: #191e25;
}

.selected-language {
  border-bottom: 2px solid rgba(211, 211, 211, 0.576);
  background-color: #0F1318;
}

.selected-language:hover {
  background-color: #0F1318;
}

.python{
  color: #7de77faf;
  border-top-left-radius: 8px;
}

.go{
  color: #00add8b6;
}

.javascript{
  color: #986821e5;
}
.php{
  border-top-right-radius: 8px;
  color: #4F5D95;
}

.code-container {
  margin: 15px 0px;
}

.code {
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.border-radius {
  border-radius: 10px;
}

.code::-webkit-scrollbar {
  height: 5px;
}

.code::-webkit-scrollbar-thumb {
  background-color: cadetblue;
  border-radius: 10px;
}

.code::-webkit-scrollbar-track {
  background-color: rgb(41, 41, 41);
}


@media screen and (max-width: 768px){
  .api-main {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
}