.apis-main {
    padding-top: 80px;
    min-height: 100vh;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.load-more-button {
    height: 50px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.734);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0px 20px;
    /* border: 1px solid rgba(137, 43, 226, 0.681); */
}

.load-more-button:hover {
    color: rgba(255, 255, 255, 0.933);
    background-color: transparent;
}

.load-more-button:active {
    background-color: transparent;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.search-input {
    background-color: rgba(53, 51, 51, 0.298);
    border-bottom: none;
    border: 1px solid rgba(255, 255, 255, 0.123);
    color: rgba(255, 255, 255, 0.734);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;

}

.search-input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.381);
}

.search-button:focus {
    background-color: transparent;
}

.search-button {
    background-color: transparent;
}

.search-button:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
}