.console {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  background-color: rgba(16, 15, 15, 0.745);
  border-top: 2px solid rgba(30, 29, 29, 0.5);
  border-bottom: 2px solid rgba(30, 29, 29, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.5) inset;
}

.sidebar {
  width: 20%;
  height: 100%;
  color: white;
  border-right: 3px solid rgba(30, 29, 29, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.5) inset;
  height: auto;
}

.menu {
  list-style: none;
  padding: 10px;
}

.menu li {
  cursor: pointer;
  transition: background-color 0.1s;
  border-radius: 15px;
  padding: 15px 15px;
  margin: 10px 0px;
}

.menu-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coming-label {
  color: rgba(0, 0, 0, 0.846);
  background-color: #92a8dfb0;
  border-radius: 30px;
  padding: 3px;
  margin-left: 7px;
  font-size: 10px;
  font-weight: bold;
}

.menu-element:hover {
  background-color: #3437563e;
}

.disabled-tab:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.menu-label {
  padding-left: 5px;
  white-space: nowrap ;
}

.active-tab {
  background-color: #3437568f;
}

.active-tab:hover {
  background-color: #3437568f;
  cursor: default;
}

.tab-view {
  width: 100%;
  min-height: 50vh;
  padding: 20px;
}

.tab-view-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0px 6vw;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: fit-content;
  padding-right: 10px;
  border-radius: 8px;
  border: 1px solid rgba(95, 158, 160, 0.193);
  padding: 5px 7px;
  margin: 5px 5px;
}

.value {
  padding-left: 5px;
  color: rgba(175, 167, 167, 0.896);
  font-weight: 400;
}

.console-input {
  border: 2px solid rgba(44, 43, 43, 0.578);
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.354);
  outline: none;
  color: rgba(255, 255, 255, 0.571);
  border-radius: 8px;
}

.console-input:focus {
  border: 2px solid rgba(102, 106, 158, 0.578);
}

.console-text-area {
  width: 300px;
  height: 150px;
  padding: 10px;
}

.console-select {
  border: 1px solid rgba(99, 99, 213, 0.263);
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 1px;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.571);
}

.console-select:hover::after {
  opacity: 0;
}

.console-select option {
  padding: 30px 10px;
}

.console-table {
  border-collapse: collapse;
  margin: 10px 0px;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.354);
}

.table-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: fit-content;
}

.table-delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color:rgb(127, 40, 40);
}

.table-delete-button:hover{
  background-color:rgb(162, 52, 52);
}

.table-delete-button:active{
  background-color:rgb(255, 82, 82);
}


@media screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: auto;
    height:  fit-content;
    border: 1px solid rgba(255, 255, 255, 0.196);
    border-left: 0px;
    border-right: 0px;
    padding: 0;
    overflow: auto;
    margin-bottom: 20px;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu li {
    padding: 10px;
    margin: 0px;
  }

  .console {
    flex-direction: column;
  }

  .tab-view {
    width: auto;
    padding: 0px;
  }

}