.pricing-main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    min-height: 70vh;
}

.pricing-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px;
    background-color: transparent;
    background-clip: border-box;
    background: -webkit-linear-gradient(340deg,
    rgba(183, 176, 254, 0.893), rgba(255, 255, 255, 0.729), #d48585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-description {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px;
    color: rgba(240, 255, 255, 0.688);
    background-color: transparent;
    background-clip: border-box;
    background: -webkit-linear-gradient(340deg,
    rgba(183, 176, 254, 0.893), rgba(255, 255, 255, 0.729), #d48585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: balance;
    max-width: 500px;
    margin: 0 auto;
}

.pricing-table {
    margin: 90px auto;
    background-color: transparent;
}

.pricing-table th {
    background-color: transparent;
    font-size: large;
    color: aliceblue;
}

.pricing-table td {
    background-color: transparent;
    
}


@media screen and (max-width: 768px) {
    .pricing-main {
        padding: 25% 10%;
        padding-bottom: 30px;
    }
}