.sign-up-info {
    font-weight: 100;
}

.sign-up-info-link {
    color: #488bd3bb;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .auth-container{
        width: 70%;
    }
}