.sign-up-info {
    font-size: 14px;
    font-weight: 100;
}

.sign-up-info-link {
    
    color: #5f79d7c9;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .auth-container{
        width: 70%;
    }
}