.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 10.5;
}

.add-api-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.add-api-form label {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.637);
}

.apis-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.api-chip {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    color: black;
    padding: 5px 10px;
    border-radius: 5rem;
    cursor: pointer;
}

.selected-api-chip {
    background-color: aliceblue;

}

.api-chip:hover {
    background-color: aliceblue;
}