.create-apikey {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.apikeys-empty-label {
    flex-direction: column;
    color: rgba(207, 71, 71, 0.825);
    margin-top: 30px;
    margin-bottom: 15px;
}

.copy-icon{
    margin-left: 10px;
}

.apikeys-copy:hover{
    background-color:rgb(21, 57, 57);
}

.apikeys-copy:active{
    background-color:rgb(50, 121, 121);
}