.insights-main {
    padding-top: 10px;
    display: block;
}

.insights-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
} 

.refresh-button {
    cursor: pointer;
    color: grey;
} 

.refresh-button:hover {
    color: #ffffffb4;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* padding: 10px; */
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    align-items: end;
    gap: 20px;
}

.chart-container {
    flex: 1;
    /* height: 300px; */
    border-radius: 10px;
    /* border: rgba(202, 202, 215, 0.141) 1px solid; */
    /* background-color: rgb(14, 14, 15); */
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.354);
    border: 2px solid rgba(45, 45, 45, 0.471);
}

.chart {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    min-width: 25rem;
}



.bar-chart {
    /* background-color: rgba(10, 60, 63, 0.765); */
}

@media screen and (max-width: 768px) {
    .charts-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .chart {
        min-width: 100%;
        margin: 0;
    }
    .overview {
        width: 90%;
    }
    .stats{
        justify-content: flex-start;
    }
    
}