.apis-container {
    margin: 25px 10%;
    background-color: transparent;
}

.all-apis-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 9%;
    padding-top: 20px;
    margin-bottom: 30px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 736px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(168, 155, 155);
    background-color: rgb(6, 2, 66);
    padding: 4px 10px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.selected-category {
    background-color: rgb(32, 32, 32);
}

.category-close {
    fill: #ef5252;
    background-color: transparent;
    margin-right: 5px;
    margin-top: 1px;
}

.apis-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-left: 0;
    margin-bottom: 100px;
}

.api-item {
    /* border: #7d7e7e8e 1px solid; */
    display: flex;
    flex-direction: column;
    width: 250px;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 10px;
}

.api-item:hover {
    box-shadow: 0px 0px 7px rgba(155, 127, 181, 0.403);
}

.api-image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.api-info {
    padding: 20px 10px;
    height: 119px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: linear-gradient(0deg, rgba(25, 26, 35, 0.646) 0%,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 100%);
}


.api-info-title {
    padding: 0px 5px;
}

.api-divider {
    margin: 10px 0px;
    border-top: 1px solid rgba(159, 178, 179, 0.74);
}

.api-description {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 200;
    color: rgba(159, 178, 179, 0.74);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .api-item {
        width: 85%;
    }

    .all-apis-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 2%;
    }

    .categories {
        padding-bottom: 15px;
    }
}