.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cadetblue;
  /* background: linear-gradient(90deg, #03001C, #ff000046); */
  z-index: -1;
  opacity: 1;
}

.banner-before {
  position: absolute;
  /* min-height: 300px; */
  max-height: 1px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100vw;
  opacity: 0.3;
  z-index: -1;
  filter: blur(150px);
}

.banner-title {
  text-align: center;
  padding: 0px 20px;
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  cursor: default;
  background: -webkit-linear-gradient(45deg,
  #9a8ed5, #ff4d4d);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 40px;
  /* color: linear-gradient(45deg, #03001C, #ff000046); */
}

@media screen and (max-width: 768px) {
  .banner-before{
    background-size: cover;
  }
  
}