.expandable-component{
    border: white 1px solid;
    border-radius: 10px;
    /* background-color: #121417; */
    border: rgba(202, 202, 215, 0.141) 1px solid;
    cursor: pointer;
    margin: 5px;
}

.content {
    padding: 20px;
    margin-top: 10px;
}

.expandable-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}