.popup-module {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.059);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blur 0.5s ease-in-out;
    z-index: 1;
}

@keyframes blur {
    0% {
        backdrop-filter: 0;
    }
    100% {
        backdrop-filter: blur(5px);
    }
}

.popup-window {
    width: 30vw;
    height: 30vh;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-button {
    top: 0;
    right: 0;
    position: absolute;
    border-top-right-radius: 25px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: transparent;
    color: var(--primary-color);
    transition: 0ms;
}

.close-button:hover {
    background-color: rgba(255, 2, 2, 0.782);
    color: var(--background-color);
}

.popup-message-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.popup-message {
    padding: 30px 0px;
}

@media screen and (max-width:798px) {
    .popup-window {
        width: 100%;
        padding: 30px 0px;
    }

}