.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  /* background: linear-gradient(180deg, #000000c0, transparent); */
  z-index: 1;
}

.navbar-container-sticky {
  position: sticky;
  background: none;
}

.navbar-container-fixed {
  position: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5rem;
  padding: 0px 20px;
  transition: none;
  background-color: transparent;
}

.navbar-sticky {
  position: sticky;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(205, 22, 22, 0.188);
  border-radius: 0px;
  padding: 10px 20px;
}

.navbar-fixed {
  margin-top: 20px;
  justify-content: space-between;
  background-color: #000000ac;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.188);
  min-width: 32vw;
}

.title-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;

}

.title-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  /* font-family: "Exo"; */
  letter-spacing: 0px;
  word-spacing: -4px;
  background-color: transparent;
  font-size: 40px;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ffffff82, #ffffffa2);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  /* color: linear-gradient(45deg, #03001C, #ff000046); */

}

.navbar-list {
  display: flex;
  background-color: transparent;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  background-color: transparent;
  padding: 20px 0px;
  padding-right: 30px;
  cursor: pointer;
}


.nav-link:hover {
  color: #8a8f93;
}

.nav-link.active {
  color: #4f5254;
}

.nav-button{
  border: 0px;
  cursor: pointer;
  background-color: #075aa2;
  color: #f5f5f5;
  padding: 5px 15px;
  border-radius: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  align-items: center;
}

.nav-button:hover {
  background-color: #007bff;
}

.nav-button.active {
  background-color: #4b81a451;
}

.navbar-divider {
  border-left: 1px solid rgba(95, 158, 160, 0.532);
  height: 20px;
  margin-right: 30px;
}

.navbar-close {
  display: none;
  cursor: pointer;
  background-color: transparent;
}

.navbar-menu {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
  }
  
  .title-container{
    margin-right: 20px;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.114);
    width: 100%;
  }

  .navbar-divider {
    border-right: 0;
    height: 0;
  }

  .visible {
    display: flex;
  }

  .nav-link {
    padding: 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .nav-button {
    margin: 10px 0px;
  }

  .navbar-menu {
    display: flex;
  }
}