.playground-main {
    /* background-color: aqua; */
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #131a20;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    min-height: 50vh;
}

.p-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.p-form {
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
}

.p-form-label {
    color: #c4baba;
    font-size: 16px;
    margin: 5px;

}

.p-form-element {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.p-form-element-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #72686834;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.p-form-input {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(50, 163, 152);
    border: 0px;
    padding: 10px;
}

.p-form-input::placeholder {
    color: rgba(78, 76, 76, 0.552);
}

.p-form-input:focus {
    outline: none;
    background-color: turquoise;
}

.p-form-text-input {
    resize: vertical;
    overflow: auto;
}

.p-form-text-input:read-only {
    min-height: 200px;
}

.p-form-text-input:disabled {
    min-height: fit-content;
}

.p-form-number-input {
    border: 1px solid black;
    color: black;
}

.p-form-number-input::-webkit-inner-spin-button,
.p-form-number-input::-webkit-outer-spin-button {
    margin: 0;
}

.p-form-number-input::-webkit-inner-spin-button:active,
.p-form-number-input::-webkit-outer-spin-button:active {
    background-color: #ccc;
}

input[type=file]::file-selector-button {
    padding: .3em .6em;
    border-radius: .2em;
    background-color: #e9ebf099;
    border-radius: 5px;
    outline: none;
    border: 2px solid #0d0d0dd0;
    transition: 0.2s;
}

input[type=file]::file-selector-button:hover {
    background-color: #ffffffda;
}

.p-form-button {
    background-color: rgba(11, 114, 11, 0.738);
    padding: 15px 10px;
    font-size: 15px;
    margin: 10px 5px;
}

.p-form-button:hover {
    background-color: rgba(11, 114, 11, 0.938);
}

.p-form-button:focus {
    background-color: rgba(11, 114, 11, 0.938);
}

.p-form-button:disabled {
    background-color: #f2f2f283;
    color: #2b2929;
    cursor: not-allowed;

}

.p-form-add-button {
    width: 100px;
    align-self: flex-end;
    margin: 5px;
    padding: 5px;
    background-color: #6387cf92;
}

.p-form-add-button:hover {
    background-color: #6387cf;
}

.p-description {
    color: #877e7e;
    font-size: 15px;
    margin: 5px;
}

.p-output {
    flex: 1;
    margin: 5px;
    padding: 15px;
    border: 1px solid #72686834;
    border-radius: 10px;
}

.p-output-title {
    color: #c4baba;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 20px;
}

.p-output-value {
    padding: 10px;
}

.p-output-media {
    width: 100%;
    border-radius: 10px;
}

.p-output-text {
    padding: 10px;
    margin: 5px;
    width: 100px;
}

.output-selector-button {
    background-color: #6387cf;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.output-selector-button:disabled {
    background-color: #f2f2f283;
    color: #2b2929;
    cursor: not-allowed;
    margin: '5px'
}

.p-output-status {
    width: 100%;
    text-align: center;
    color: #c4baba;
    font-size: 15px;
    margin: 5px;

}


@media screen and (max-width: 768px) {
    .playground-main {
        flex-direction: column;
    }
}