.billing {
    padding-top: 3vw;
    width: 80%;
}

.add-credit {
    padding: 3vh 0px;
    width: fit-content;
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
}

.amount-label {
    padding-right: 10px;
}

.amount-input-container {
    border: 1px solid rgba(99, 99, 213, 0.263);
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.amount-input {
    width: 90px;
    padding: 10px 7pxpx;
    font-size: 16px;
    color: #ffffff;
    border: 0px;
}

.amount-input:focus {
    border-bottom: 0px;
}

.pay-container {
    display: flex;
    justify-content: flex-start;
}

.dashboard-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.pay-button-label{
    padding-left: 5px;
}

.billing-history {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .billing {
        width: 90%;
    }

}