.skeleton {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: transparent;
}

@keyframes loading {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #5d585883;
    }

    100% {
        background-color: transparent;
    }
}