@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: #03001C;
  --primary-color: #B6EADA;
}

* {
  margin: 0;
  font-family: "Lexend";
  color: var(--primary-color);
  background-color: var(--background-color);
  transition: all 0.1s ease;
}

.navbar{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-weight: 700;
  font-size: 50px;
}

.main-body{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}