.home-banner {
  background: linear-gradient(90deg, 
  #040126, #95000099);
  padding: 40px 6vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-title {
  font-size: 40px;
  font-weight: 700;
  background-color: transparent;
  cursor: default;
  background: -webkit-linear-gradient(45deg,
  #9a8ed5, #ff4d4d);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.home-list {
  list-style:none;
  margin-bottom: 20px;
  padding-left: 20px;
}

.home-list-item {
  padding-top: 50px;
  font-size: 20px;
}

.home-list-item-title {
  font-size: 22px;
  margin-bottom: 5px;
  background-color: transparent;
  cursor: default;
  background: -webkit-linear-gradient(45deg,
  #ffffffab, #64696dbe);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
}

.latest-models-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.all-models-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-models-button:hover {
  color: #a0a0a0;
}

.all-models-icon {
  fill: #B6EADA;
  padding-top: 3px;
}

@media screen and (max-width: 768px) {
  .home-banner {
    display: block;
  }
  
}
